<ion-content padding class="backgroundImage">
  <div>
    <h1 class="titlesAndSubtitles">
      Bienvenido a CSaleApp
    </h1>
    <h2 class="titlesAndSubtitles">
      ¡Acá vas a poder encontrar el lugar ideal para que tu salida sea perfecta!
    </h2>
    <br>
    <button ion-button color="googleButton" class="oneButtons oAuthButtons" (tap)="socialLogin(false)">
      Acceder con Google
    </button>
    <br>
    <br>
    <form [formGroup]="loginForm" (ngSubmit) = "onClickSubmit(loginForm.value)" >
      <ion-item class="bg-transparent">
        <ion-label style="color:white" stacked>Email</ion-label>
        <ion-input type="email" class="labelInputColor" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(formFields.email.invalid && formFields.email.touched) || formFields.email.dirty">
        <div *ngIf="formFields.email.errors?.required" class="errorInputs">Email requerido</div>
        <div *ngIf="formFields.email.errors?.pattern" class="errorInputs">Email inválido</div>
      </div>

      <ion-item class="bg-transparent">
        <ion-label style="color:white"   stacked>Contraseña</ion-label>
        <ion-input class="labelInputColor" type="password" placeholder=""
            formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(formFields.password.invalid && formFields.password.touched) || formFields.password.dirty">
        <div *ngIf="formFields.password.errors?.required" class="errorInputs">Contraseña requerida</div>
      </div>
    <br>
    <br>
    <div>
      <button type="submit" ion-button color="loginButton" class="oneButtons"
        [disabled]="loginForm.invalid"> 
        Iniciar sesión
      </button>
    </div>
    <br>
    <h3 class="titlesAndSubtitles" (tap)="goToRecoverPasswordPage()">
        Olvidé mi contraseña
    </h3>
    <h3 class="titlesAndSubtitles">
      No tenés cuenta? <h3 class="titlesAndSubtitles forgotPasswordTitle" (tap)="goToRegisterPage()">Creá una.</h3>
    </h3>

    </form>
  </div>
</ion-content>
