ionic3-star-rating {
    margin-left: 20rem;
}

.platform-mobile textarea.text-input {
    border: solid 1px black;
}

.commentary{
    background-color: white;
    padding-top: 1px;
    display: table;
    border: 1px solid #CCC;
}

.platform-mobile textarea.text-input {
    border: solid 1px white;
}