.item {
    margin-bottom: -3px;
    margin-top: -3px;
}

.cell-class {
    border-color: black; 
    border-width: .05rem; 
    border-style:solid; margin-bottom : -1px;
    background-color: white;
    width: 25% !important;
  }