.itemLabels {
  text-align: center !important;
}

.cell-class {
    border-color: black; 
    border-width: .05rem; 
    border-style:solid; margin-bottom : -1px;
    background-color: white;
    width: 25% !important;
}

  ion-card {
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }

  ion-list {
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }