page-home {
    .imgStyle{
            height: 10rem;
            width: 10rem;
    }
    .menuHeader{
        background: linear-gradient(#6200EE, #310077);
        font-weight: lighter;
        color: white;
    }
    .menuTitle{
        width:20rem;
    }
}


