 .menuHeader {
     background: linear-gradient(#6200EE, #310077);
     font-weight: lighter;
     color: white;
 }

 .headerStyle{
    color: black;
    text-align: center;
 }
 
 .menuTitle {
     width: 20rem;
 }
 
 ion-menu {
     .toolbar-background-md {
         --background: #6200EE;
     }
     .toolbar-background-md {
         background: linear-gradient(#6200EE, #310077);
     }
     .item-md {
         background-color: #6200EE;
         color: white;
     }
 }
 

 #map_canvas {
     height: 77%;
     width: 95%;
     margin-left: 1.5vh;
     margin-top: -1vh;
     -webkit-box-shadow: 6px 13px 11px -4px rgba(143,143,143,1);
     -moz-box-shadow: 6px 13px 11px -4px rgba(143,143,143,1);
     box-shadow: 6px 13px 11px -4px rgba(143,143,143,1);
 }