 .menuHeader {
     background: linear-gradient(#6200EE, #310077);
     font-weight: lighter;
     color: white;
 }

 .headerStyle{
    color: black;
    text-align: center;
 }
 
 .menuTitle {
     width: 20rem;
 }
 .menuTitle .titleAndSubtitle{
    color: white !important;
 }
 
 ion-menu {
     .toolbar-background-md {
         --background: #6200EE;
     }
     .toolbar-background-md {
         background: linear-gradient(#6200EE, #310077);
     }
     .item-md {
         background-color: #6200EE;
         color: white;
     }
 }
 

 #map_canvas {
     height: 77%;
     width: 95%;
     margin-left: 1.5vh;
     margin-top: -1vh;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 }

 .hamburguerMenuItems{
    margin-top: 3vh !important;
    margin-bottom: 3vh !important;
 }