<!--
  Generated template for the ShoppingCheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Comprar productos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 style="color:black; text-align:center">
    ¿Cómo querés pagar?
  </h1>
  <br>
  <ion-list>
    <ion-item style="border-bottom: 6px solid #ffff" (tap)="goToPaymentPage('efectivo')" >
      <img item-start class="imgPaymentMethods" src="../assets/imgs/cash1.png">
      <ion-label>Efectivo</ion-label>
    </ion-item>
    <ion-item style="border-bottom: 6px solid #ffff"(tap)="goToPaymentPage()">
      <img item-start  class="imgPaymentMethods" src="../assets/imgs/card1.png">
      <ion-label>Tarjeta</ion-label>
    </ion-item>
  </ion-list>

  <br>
  <br>
  <h2 style="color:black; text-align:center">
    Pagos realizados
  </h2>
  <div *ngIf="cart.ticket.payment_methods.length == 0">
    <ion-item style="color:black; text-align:center" no-lines>
      <p>Todavía no pagaste nada!.</p>
    </ion-item>
    
  </div>
  <ion-list *ngFor="let paymentMethod of this.cart.ticket.payment_methods">
      <ion-item style="border-bottom: 3.8px solid rgb(200, 200, 200)">
        {{toCapitalize(paymentMethod.payment_method.name)}}: ${{paymentMethod.amount_paid}}
      </ion-item>
  </ion-list>