.cell-class {
    border-color: black; 
    border-width: .05rem; 
    border-style:solid; margin-bottom : -1px;
    background-color: white;
    width: 25% !important;
  }

  .imgPaymentMethods {
    height: 45px;
    width: 45px;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
  }
  
 