// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

h1, h2, h3{
    font-family: Roboto;
    color:white;
}

h1{
    font-size: 2rem;
    font-weight:bold;
}

ion-navbar{
    background-color: #6200ee
}


h2{
    font-size: 1.5rem;
    color:white;
}

h3{
    font-size: 1.2rem;
    color:white;
}

.button{
    text-transform: none;
}

.oneButtons{
    //se alinea el botón al centro
    margin: 0 auto;
    display:block;

    //de acerudo a donde lo quieras poner al botón, lo bajás al botón tanto como quieras
    margin-top: 10%;

    //estilo del botón en sí
    font-size: 1.25rem;  
    height:3rem; 
    width:14rem;
}