// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-icon {
    &[class*="custom-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 2rem;
        height: 2rem;
    }
    &[class*="custom-shopping-cart"] {
        mask-image: url(../assets/buy-icon.svg);
    }
    &[class*="custom-discount-label"] {
        mask-image: url(../assets/discount-label.svg);
    }
    &[class*="custom-logout"] {
        mask-image: url(../assets/logout.svg);
    }
    &[class*="custom-party"] {
        mask-image: url(../assets/party.svg);
    }
    &[class*="custom-account"] {
        mask-image: url(../assets/imgs/2113250.svg);
    }
}

ion-card{
    border-radius : 8px !important;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.19), 0 3px 6px rgba(0, 0, 0, 0.23) !important
}

h1,
h2,
h3 {
    font-family: Roboto;
    color: white;
}

ion-title {
    color: white;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

ion-navbar {
    background-color: #6200ee
}

h2 {
    font-size: 1.5rem;
    color: white;
}

h3 {
    font-size: 1.2rem;
    color: white;
}

.button {
    text-transform: none;
}

.oneButtons {
    //se alinea el botón al centro
    margin: 0 auto;
    display: block;
    //de acerudo a donde lo quieras poner al botón, lo bajás al botón tanto como quieras
    margin-top: 10%;
    //estilo del botón en sí
    font-size: 1.25rem;
    height: 3rem;
    width: 10rem;
}

.okToastStyle {
    .toast-wrapper{
        background-color: #6200ee;
    }
}

.errorToastStyle{
    .toast-wrapper{
        background-color: #e86854;
    } 
}

.infoToastStyle{
    .toast-wrapper{
        background-color: white;
    } 
}

ion-card{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}
