.imgPlace {
    height: auto;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.socialMediaTitle{
    text-align: center; 
    margin-bottom: 2vh !important;
}

.socialMediaLogo{
    max-width: 30% !important;
    display: block !important;
    margin: auto !important;
}

.socialMediaOneLogo{
    max-width: 20% !important;
    display: block !important;
    margin: auto !important;
}

.socialMediaContainer{
    margin-top: 3vh !important;
}

.titlesAndSubtitlesDistribution{
    text-align: center; 
    white-space: break-spaces;
}

ion-card{
    margin: 10px -2% !important;
    width: 104% !important;
    overflow: scroll;
}

ionic3-star-rating{
    text-align:center
}

.buyProductsButtonContainer{
    text-align:center
}