.imgStyle {
    height: auto;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ion-card{
    margin: 10px -2% !important;
    width: 104% !important;
}

ionic3-star-rating{
    text-align:center
}

.buyProductsButtonContainer{
    text-align:center
}